@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 10px;
  font-family: "montserrat";
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

.container {
  min-height: 800px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

p {
  color: black;
  font-size: 15px;
  margin-top: 5px;
  line-height: 20px;
  font-weight: 300;
  letter-spacing: .1px;
}

.section-title {
  font-size: 30px;
  font-weight: 300;
  color: #5ce1e6;
  margin-bottom: 10px;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  text-align: center;
}

.section-title span {
  color: #5ce1e6;
}

.cta {
  display: inline-block;
  padding: 10px 30px;
  color: #4b9baf;
  background-color: transparent;
  border: 2px solid #5ce1e6;
  font-size: 20px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-top: 30px;
  -webkit-transition: .3s ease;
  transition: .3s ease;
  -webkit-transition-property: background-color, color;
  transition-property: background-color, color;
}

.cta:hover {
  color: black;
  background-color: #5ce1e6;
}

.brand h1 {
  font-size: 30px;
  text-transform: uppercase;
  color: white;
}

.brand h1 span {
  color: #5ce1e6;
}

#header {
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100vw;
  height: auto;
}

#header .header {
  min-height: 80px;
  background-color: rgba(31, 30, 30, 0.24);
  -webkit-transition: .3s ease background-color;
  transition: .3s ease background-color;
}

#header .header .nav-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  height: 100%;
  max-width: 1300px;
  padding: 0 10px;
}

#header .nav-list ul {
  list-style: none;
  position: absolute;
  background-color: #1f1e1e;
  width: 100vw;
  height: 100vh;
  left: 100%;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 1;
  overflow-x: hidden;
  -webkit-transition: .5s ease left;
  transition: .5s ease left;
}

#header .nav-list ul a {
  font-size: 25px;
  font-weight: 500;
  letter-spacing: 2px;
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  padding: 20px;
  display: block;
}

#header .nav-list ul .language {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 50px;
}

#header .nav-list ul .language a {
  color: white;
  font-size: 20px;
  letter-spacing: 3px;
  font-weight: 500;
}

#header .hamburger {
  height: 60px;
  width: 60px;
  display: inline-block;
  border: 3px solid white;
  border-radius: 50%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 100;
  cursor: pointer;
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
  margin-right: 20px;
}

#header .hamburger .bar {
  height: 2px;
  width: 30px;
  position: relative;
  background-color: white;
  z-index: -1;
}

.language::before {
  content: '';
  position: absolute;
  background-color: #5ce1e6;
  height: 1.5px;
  width: 35px;
  left: 58.3px;
  top: 30px;
  -webkit-transform: rotateZ(90deg);
          transform: rotateZ(90deg);
}

#header .nav-list ul .language a:hover {
  color: #5ce1e6;
}

#header .hamburger::after {
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  border: 3px solid #5ce1e6;
  -webkit-animation: hamburger_puls 1s ease infinite;
          animation: hamburger_puls 1s ease infinite;
}

#header .nav-list ul li:hover a {
  color: #5ce1e6;
}

#header .nav-list ul.active {
  left: 0;
}

#header .nav-list ul a::after {
  content: attr(data-after);
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(0);
          transform: translate(-50%, -50%) scale(0);
  color: rgba(240, 248, 255, 0.021);
  font-size: 50px;
  letter-spacing: 50px;
  z-index: -1;
  -webkit-transition: .3s ease letter-spacing;
  transition: .3s ease letter-spacing;
}

#header .nav-list ul li:hover a::after {
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  letter-spacing: initial;
}

#header .hamburger .bar::after,
#header .hamburger .bar::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  background-color: white;
  -webkit-transition: .3s ease;
  transition: .3s ease;
  -webkit-transition-property: top, bottom;
  transition-property: top, bottom;
}

#header .hamburger .bar::after {
  top: 8px;
}

#header .hamburger .bar::before {
  bottom: 8px;
}

#header .hamburger.active .bar::before {
  bottom: 0;
  background-color: #5ce1e6;
}

#header .hamburger.active .bar::after {
  top: 0;
  background-color: #5ce1e6;
}

#hero {
  background-image: url("../img/hero.jpeg");
  background-size: cover;
  background-position: top center;
  position: relative;
  z-index: 1;
}

#hero .hero {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 50px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

#hero h1 {
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 40px;
  position: relative;
  color: transparent;
  -webkit-animation: text_reveal .5s ease forwards;
          animation: text_reveal .5s ease forwards;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

#hero span {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  background-color: #5ce1e6;
  -webkit-animation: text_reveal_box 1s ease;
          animation: text_reveal_box 1s ease;
  -webkit-animation-delay: .5s;
          animation-delay: .5s;
}

#hero h1:nth-child(1) {
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

#hero h1:nth-child(2) {
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}

#hero h1:nth-child(3) {
  -webkit-animation: text_reveal_name .5 ease forwards;
          animation: text_reveal_name .5 ease forwards;
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
}

#hero h1:nth-child(1) span {
  -webkit-animation-delay: .5s;
          animation-delay: .5s;
}

#hero h1:nth-child(2) span {
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
}

#hero h1:nth-child(3) span {
  -webkit-animation-delay: 2.5s;
          animation-delay: 2.5s;
}

#hero::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: .6;
  z-index: -1;
}

#projects {
  background: #2a2a2a;
  margin-top: -50px;
}

#projects .projects {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 1200px;
  margin: 0 auto;
  padding: 100px 0;
}

#projects .projects-header h1 {
  margin-bottom: 50px;
}

#projects .all-projects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#projects .project-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 300px;
  margin: 10px auto;
  overflow: hidden;
  border-radius: 5px;
}

#projects .project-info {
  padding: 15px;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: linear-gradient(60deg, #29323c 0%, #485563 100%);
  color: white;
}

#projects .project-info h1 {
  font-size: 18px;
  font-weight: 500;
  padding-bottom: 10px;
}

#projects .project-img {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  height: 200px;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  border-radius: 5px;
}

#projects .project-img img {
  -webkit-transition: .3s ease transform;
  transition: .3s ease transform;
}

#projects .project-img .image-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-transform: uppercase;
  font-size: 30px;
  opacity: 0;
  -webkit-transition: 0.45s ease opacity;
  transition: 0.45s ease opacity;
  letter-spacing: 1px;
}

#projects .project-img .image-overlay a {
  color: white;
}

#projects .project-img:hover .image-overlay {
  opacity: 1;
  z-index: 6;
}

#projects .project-img::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(60deg, #29323c 0%, #485563 100%);
  opacity: .5;
  z-index: 5;
}

#projects .project-item:hover .project-img img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  z-index: -1;
}

#about {
  background-image: url("../img/about.jpg");
  background-size: cover;
  background-position: top center;
  position: relative;
  z-index: 1;
  height: 1070px;
  margin-top: -50px;
}

#about .about {
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  text-align: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 100px 20px;
}

#about .about-me {
  width: 100%;
  margin-top: -50px;
}

#about .about-me h1 {
  color: white;
  padding-bottom: 20px;
}

#about .about-me h2 {
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 1px;
  margin-bottom: 30px;
  color: white;
}

#about .about-me p {
  margin-bottom: 30px;
  color: white;
  letter-spacing: 1px;
  line-height: 25px;
}

#about .about-me .cta {
  padding: 10px 20px;
  font-size: 15px;
  margin-top: -10px;
}

#about::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: .8;
  z-index: -1;
}

#contact {
  background: #2a2a2a;
  padding-bottom: 30px;
}

#contact .contact {
  max-width: 1200px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 auto;
}

#contact h1 {
  padding-bottom: 10px;
}

#contact .contact-items {
  max-width: 400px;
}

#contact .contact-item {
  width: 80%;
  padding: 30px;
  text-align: center;
  border-radius: 10px;
  margin: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0px 0px 8px 0 #5ce1e6;
          box-shadow: 0px 0px 8px 0 #5ce1e6;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition: .3s ease box-shadow;
  transition: .3s ease box-shadow;
  background-color: #485563;
}

#contact .icon {
  margin: 0 auto;
  margin-bottom: 10px;
  width: 42px;
}

#contact .contact-info h1 {
  color: white;
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 5px;
}

#contact h2 {
  color: white;
  font-weight: 500;
  line-height: 20px;
  font-size: 14px;
}

#contact .contact-item:hover {
  -webkit-box-shadow: 0px 0px 15px 0 white;
          box-shadow: 0px 0px 15px 0 white;
}

#footer {
  background: linear-gradient(60deg, #29323c 0%, #485563 100%);
}

#footer .footer {
  min-height: 200px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 50px;
  padding-bottom: 10px;
}

#footer .brand {
  padding-bottom: 20px;
}

#footer .social-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 30px;
}

#footer .social-item {
  height: 50px;
  width: 50px;
  margin: 0 5px;
}

#footer .social-item img {
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
  -webkit-transition: .3s ease filter;
  transition: .3s ease filter;
}

#footer p {
  color: white;
  font-size: 13px;
}

#footer .social-item:hover img {
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
}

@-webkit-keyframes hamburger_puls {
  0% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(1.4);
            transform: scale(1.4);
  }
}

@keyframes hamburger_puls {
  0% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(1.4);
            transform: scale(1.4);
  }
}

@-webkit-keyframes text_reveal_box {
  50% {
    width: 100%;
    left: 0;
  }
  100% {
    width: 0;
    left: 100%;
  }
}

@keyframes text_reveal_box {
  50% {
    width: 100%;
    left: 0;
  }
  100% {
    width: 0;
    left: 100%;
  }
}

@-webkit-keyframes text_reveal {
  100% {
    color: white;
  }
}

@keyframes text_reveal {
  100% {
    color: white;
  }
}

@-webkit-keyframes text_reveal_name {
  100% {
    color: #5ce1e6;
    font-weight: 500;
  }
}

@keyframes text_reveal_name {
  100% {
    color: #5ce1e6;
    font-weight: 500;
  }
}

@media only screen and (min-width: 768px) {
  .cta {
    font-size: 20px;
    padding: 15px 40px;
  }
  h1.section-title {
    font-size: 40px;
  }
  #hero h1 {
    font-size: 50px;
  }
  #projects .project-item {
    width: 450px;
    margin: 10px;
    border-radius: 10px;
  }
  #projects .all-projects .project-info {
    height: 100%;
  }
  #projects .all-projects .project-img {
    height: 100%;
  }
  #about .about-me {
    margin-top: 50px;
  }
  #about p {
    padding-right: 80px;
    padding-left: 80px;
    line-height: 30px;
  }
}

@media only screen and (min-width: 1200px) {
  #header .hamburger {
    display: none;
  }
  #header .nav-list ul {
    position: initial;
    display: block;
    height: auto;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    background-color: transparent;
  }
  #header .nav-list ul li {
    display: inline-block;
  }
  #header .nav-list ul li a {
    font-size: 18px;
  }
  #header .nav-list ul .language {
    display: inline-block;
    margin-top: 0;
  }
  #header .nav-list ul .language a {
    display: inline-block;
    font-size: 16px;
  }
  .language::before {
    content: '';
    position: absolute;
    background-color: #5ce1e6;
    height: 1.5px;
    width: 35px;
    top: 28px;
    left: 54px;
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
  #header .nav-list ul a:after {
    display: none;
  }
  #hero {
    height: 1100px;
  }
  #projects .all-projects {
    width: 100%;
    padding: 20px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  #projects .project-item {
    width: 450px;
    margin: 15px;
  }
  #about p {
    padding-right: 150px;
    padding-left: 150px;
  }
  #contact {
    margin-top: -80px;
  }
  #contact .contact {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 100px 0;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    min-width: 200px;
  }
  #contact .contact-item {
    width: 600px;
  }
  #contact .contact-items {
    max-width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding: 20px;
    margin: 0;
  }
  #contact .contact-item img {
    width: auto;
  }
}
/*# sourceMappingURL=main.css.map */